#featured_image {
  padding-bottom:7px;
}
.banner-custom .banner .banner-slick .banner{
  width: 100%;
  height: 400px;
}
.space{
  height: 25px;
}
.featured-product .product .featured-product{
    height: 200px;
    width: 200px;
}
.featured-product .product .name{
  font-weight: bold;
  text-align: center;
}
.featured-product .product{
  
}